In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('startups_dataset.csv')

In [ ]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    Pakistan  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54    Istanbul  191050.39
3  144372.41       118671.85        383199.62    Pakistan  182901.99
4  142107.34        91391.77        366168.42    Istanbul  166187.94

In [7]:
res = df.groupby(by=['State']).sum(max('R&DSpend','Administration','Marketing Spend', 'Profit'))
res

             R&D Spend  Administration  Marketing Spend      Profit
State
California  1099180.46      2052690.62       3103195.80  1766387.98
Istanbul    1291584.26      1948302.36       3957176.82  1900384.39
Pakistan    1295316.06      2066239.00       3490882.27  1933859.59

In [35]:
res.sort_values('Profit', ascending = False)

             R&D Spend  Administration  Marketing Spend      Profit
State
Pakistan    1295316.06      2066239.00       3490882.27  1933859.59
Istanbul    1291584.26      1948302.36       3957176.82  1900384.39
California  1099180.46      2052690.62       3103195.80  1766387.98

             R&D Spend  Administration  Marketing Spend      Profit
State
California  1099180.46      2052690.62        3103195.8  1766387.98

In [56]:
length = df.groupby('State')

In [53]:
for i in range(length):
    print('Total '+ df['State'][i].value_counts() + ' startups in '+ df['State'][i]+' state')

AttributeError: 'str' object has no attribute 'value_counts'

50